# Here some python key concepts

# Print Statement:

In [43]:
print("hello world")

hello world

In [44]:
print("ALI IS GOING TO SCHOOL")

ALI IS GOING TO SCHOOL

# List:

In [34]:
a = [1,2,-3]
print(a)

[1, 2, -3]

In [35]:
a.append(3)
print(a)

[1, 2, -3, 3]

In [36]:
a.insert(1,9)
a

[1, 9, 2, -3, 3]

In [38]:
a.pop(4)
a

[1, 9, 2, -3]

In [39]:
a.index(2)

2

In [11]:
b = ['Apple', 'Mango', 'Peach']
print(b)

['Apple', 'Mango', 'Peach']

In [12]:
temp = b[0]
b[0] = b[2]
b[2] = temp
print(b)

['Peach', 'Mango', 'Apple']

In [13]:
b = [2, 3, 5]
for item in b:
    print(item)

2
3
5

In [14]:
c = list(range(1, 19))
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [15]:
for i in range(1,18):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17

In [16]:
total = 0
for i in range(1,18):
    total += i
print(total)

153

In [17]:
s = ["Khizar", "Ali", "Ahmad"]
for name in s:
    print(" Mr. " +name)

 Mr. Khizar
 Mr. Ali
 Mr. Ahmad

In [19]:
given_list = [1, 2, 3, 4, 5]

In [20]:
total = 0
i = 0
while i < len(given_list) and given_list[i] > 0:
    total += given_list[i]
    i += 1
print(total)

15

In [21]:
list = [2100, 2200, 2300, 4000, 6000]

In [22]:
total = 0
for items in list:
     total = total + items
print (total)

16600

In [23]:
list = [2100, 2200, 2300, 4000, 6000]
total = 0
for i in range(len(list)):
    print ("Month :", i+1, "Expense :", list[i] )
    total = total + list[i]
    print ("total",total)

Month : 1 Expense : 2100
total 2100
Month : 2 Expense : 2200
total 4300
Month : 3 Expense : 2300
total 6600
Month : 4 Expense : 4000
total 10600
Month : 5 Expense : 6000
total 16600

# Tuple:

In [27]:
my_tuple=('ali', 'true', 23, 45.6, 'false')

In [28]:
my_tuple[4]

'false'

In [30]:
len(my_tuple)

5

# DICTIONARY:

In [ ]:
ahmad_dict={}
ahmad_dict

{}

In [ ]:
ahmad_dict={'one':1,'two':2,'three':3}
ahmad_dict

{'one': 1, 'two': 2, 'three': 3}

In [ ]:
ahmad_dict={key:value for key,value in [['apple',10],['mango',15],['orange',0]]}
ahmad_dict

{'apple': 10, 'mango': 15, 'orange': 0}

In [ ]:
len(ahmad_dict)

3

In [ ]:
ahmad_dict['banana']=12
ahmad_dict

{'apple': 10, 'mango': 15, 'orange': 0, 'banana': 12}

In [ ]:
khizar_dict={'bat':5, 'ball':10,'helmets':3}
khizar_dict

{'bat': 5, 'ball': 10, 'helmets': 3}

In [ ]:
ahmad_dict.update(khizar_dict)

In [ ]:
ahmad_dict

{'apple': 10,
 'mango': 15,
 'orange': 0,
 'banana': 12,
 'bat': 5,
 'ball': 10,
 'helmets': 3}

In [ ]:
ahmad_dict.pop('ball')

10

In [ ]:
ahmad_dict

{'apple': 10, 'mango': 15, 'orange': 0, 'banana': 12, 'bat': 5, 'helmets': 3}

In [24]:
d = {"ali": 12345, "ayan":12456,"ahmad":56789}

In [25]:
d["ali"]

12345

# SETS:

In [ ]:
my_set = set()
my_set

set()

In [ ]:
my_set=()
my_set

()

In [ ]:
my_set={1,2,3,4,6}
my_set

{1, 2, 3, 4, 6}

In [ ]:
my_set.add(9)
my_set

{1, 2, 3, 4, 6, 9}

In [ ]:
len(my_set)

6

 x={2,3,4,5}
 y={6,7,8,4}
 z={1,0,9,8}

In [ ]:
x.intersection(y)

{4}

In [ ]:
y.union(z)

{0, 1, 4, 6, 7, 8, 9}

In [ ]:
x.difference(y)

{2, 3, 5}

In [ ]:
x.issubset(y)

False

In [ ]:
y.issuperset(z)

False

# CONTROL FLOW STATEMENTS:

In [ ]:
number=5
if number%2==0 and number!=0:
   print('it is even number')
elif number%2!=0:
     print('it is odd number')
else: 
    print('it is zero')

it is odd number

In [ ]:
a=705
if a>=1000 and a<=1100:
   print("A+ grade")
elif a>=800 and a<=999:
   print("A grade")
elif a>=700 and a<=799:
   print("B+ grade")
elif a>=600 and a<=699:
   print("B grade")
else:                 
    print("C grade")

B+ grade

In [ ]:
b=('coca cola')
if b==('sting') or b==('coca cola') or b==('pepsi'):
    print ('true')
else:
    print('false')

true

In [ ]:
d= ('lion')
if d==('donkey') and d!=('dog'):
   print ('true')
else:
    print('false')

false

In [ ]:
z=('khizar')
if z==('talha') and z!=('taha'):
    print('G FRIEND')
elif z==('khizar'):
    print('HI')
else:
    print('THERE IS NO NEEED OF YOU')

HI

In [26]:
a=int(input('Enter matric numbers: '))
if a>=90 and a<=100:
    print('Grade: A+')
elif a>80 and a<=90:
    print('Grade: B')
elif a>=0 and a<=80:
    print('C')
else:
    print('somthing went wrong')

Enter matric numbers: 80
C

# LOOP:

In [ ]:
my_fruits=['apple', 'mango', 'orange']

In [ ]:
for fruit in my_fruits:
    print('I Love', fruit)

I Love apple
I Love mango
I Love orange

In [ ]:
cricket_basket={'bat':1, 'ball':5,'wickets':3}

In [ ]:
for cricket,count in basket.items():
    print('there are', count, cricket, 'in the basket')

there are 1 bat in the basket
there are 5 ball in the basket
there are 3 wickets in the basket

In [ ]:
numbers=[2,5,6,9,1]

In [ ]:
for ind, num in enumerate(numbers):
    print('The number', num, 'is at', ind, 'index')

The number 2 is at 0 index
The number 5 is at 1 index
The number 6 is at 2 index
The number 9 is at 3 index
The number 1 is at 4 index

# FUNCTIONS:

In [1]:
def is_prime(number):
    if number % 2!=0:
        return True
    else:
        return False

In [2]:
is_prime(5)

True

In [3]:
def is_even(number):
    if number % 2==0:
        return True
    else:
        return False

In [4]:
is_even(7)

False

In [5]:
def calculate_area(base,height):
    return 1/2*(base*height)

In [6]:
a = calculate_area(20,30)
print ("Area:",a)

Area: 300.0

In [7]:
def calculate_perimeter(length,width):
    return 2*(length+width)

In [8]:
l = int(input("Enter the length:"))
w = int(input("Enter the width:"))
p = calculate_perimeter(l,w)
print("Perimeter:",p)

Enter the length:8
Enter the width:9
Perimeter: 34

In [45]:
def check_type(year):
    assert type(year)== int,'The type of year is not integer'
    print('The type of year is valid')
    print('successful')
    return True

In [46]:
check_type(2015)

The type of year is valid
successful

True

In [47]:
check_type(2011.4)

AssertionError: The type of year is not integer

In [51]:
primes = []

for num in range(2, 101):
    is_prime = True
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        primes.append(num)

print("Prime numbers up to 100 are:")
print(primes)

Prime numbers up to 100 are:
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Try,Except Code:

In [48]:
my_numbers = [1,2,3,4]
my_numbers

[1, 2, 3, 4]

In [49]:
len(my_numbers)

4

In [50]:
try:
    my_numbers[3]
except IndexError:
    print ('The index you used is invalid')
print ('The code executed')

The code executed

# File Handling:

In [52]:
f = open('self.txt','r')
f.read()

"Data science is a multidisciplinary field that utilizes various techniques and tools to extract meaningful insights and knowledge from structured and unstructured data. It encompasses a wide range of practices, including data collection, cleaning, and analysis, as well as the application of machine learning algorithms to predict future trends and behaviors. By leveraging statistical methods and computational algorithms, data scientists can uncover patterns and correlations that would otherwise remain hidden, enabling organizations to make data-driven decisions and optimize their operations.\n The importance of data science in today's world cannot be overstated. As the volume of data generated by businesses, social media, and IoT devices continues to grow exponentially, the need for skilled data scientists has never been greater.\nThe importance of data science in today's world cannot be overstated. As the volume of data generated by businesses, social media, and IoT devices continues to grow exponentially, the need for skilled data scientists has never been greater.\n\n The importance of data science in today's world cannot be overstated. As the volume of data generated by businesses, social media, and IoT devices continues to grow exponentially, the need for skilled data scientists has never been greater."

In [53]:
f = open('self.txt','w')
f.write("Data science is a multidisciplinary field that utilizes various techniques and tools to extract meaningful insights and knowledge from structured and unstructured data. It encompasses a wide range of practices, including data collection, cleaning, and analysis, as well as the application of machine learning algorithms to predict future trends and behaviors. By leveraging statistical methods and computational algorithms, data scientists can uncover patterns and correlations that would otherwise remain hidden, enabling organizations to make data-driven decisions and optimize their operations.")
f.close()

In [54]:
f = open("self.txt")
f.read()

'Data science is a multidisciplinary field that utilizes various techniques and tools to extract meaningful insights and knowledge from structured and unstructured data. It encompasses a wide range of practices, including data collection, cleaning, and analysis, as well as the application of machine learning algorithms to predict future trends and behaviors. By leveraging statistical methods and computational algorithms, data scientists can uncover patterns and correlations that would otherwise remain hidden, enabling organizations to make data-driven decisions and optimize their operations.'